{% extends 'layouts/profile.twig' %}

{% block title %}Senha{% endblock %}

{% block slot %}

    <div class="offset-container">
        <div class="watcher">
            <div class="show-offset">
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="8" cy="15" r="4"></circle>
                        <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
                        <line x1="18" y1="5" x2="20" y2="7"></line>
                        <line x1="15" y1="8" x2="17" y2="10"></line>
                    </svg>
                    Atualizar Senha
                </h1>

                <h2>Altere sua senha quando quiser.</h2>
            </div>
        </div>

        <div class="offset-content" type="classic" pageSync="password">
            <div class="card" type="form">
                <form method="post" action="/form">
                    <input type="hidden" name="function" value="profile_update_password">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="gms-inputer">
                                <label class="classic">
                                    <span id="name">Senha atual</span>

                                    <input 
                                        type="password" 
                                        name="password_current"
                                        ref="password_current">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="gms-inputer">
                                <label class="classic">
                                    <span id="name">Nova senha</span>

                                    <input 
                                        type="password" 
                                        name="password"
                                        ref="password">
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="gms-inputer">
                                <label class="classic">
                                    <span id="name">Nova senha</span>

                                    <input 
                                        type="password" 
                                        name="password2"
                                        ref="password2">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-footer range-right">
                        <button type="submit">
                            <span>Salvar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}